
.content-node.speech > .content {
    padding: 2px;
}

.document .content-node.speech .content-node.paragraph {
    padding: 0px 0px 0px 0px;
    border-left: 3px solid #ffffff;

}

.content-node.speech > .content table.speeches tr td.speaker {
    width: 100px;
    font-weight: bold;
    vertical-align: baseline;
}

.content-node.speech > .content table.speeches tr td.speech {
    vertical-align: baseline;
    font-style: italic;
}


.content-node.speech > .content table.speeches tr {
    vertical-align: baseline;
}

.surface.content .content-node.speech > .content > .label {
    font-weight: 600;
    padding-bottom: 0px;
}
